.home-grid-wrapper {
    padding: 2rem 1rem;
    background: #f5f5f5;
}

.home-page-col {
    display: flex;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .home-page-col {
        padding: 0 8px;
        margin-bottom: 15px;
    }

}